.container-fluid{
    /* background-image: url(https://st4.depositphotos.com/13566998/37958/i/450/depositphotos_379581908-stock-photo-medical-background-animated-concept-science.jpg); */
    
    width: 90%; 
}

.top-banner{
    background-image: linear-gradient(to right, whitesmoke, #86c64D, whitesmoke);
    /* background-color: #86c64D; */
}

.container-fluid h1{
font-size: 76px;
text-align: center;
font-family:  Arial;
color: firebrick;
padding-top: 30px;
padding-bottom: 20px;
}
.top-img{
    display: flex;
    padding-top: 50px;
    
}

.bottom-banner{
display: flex;
padding-bottom: 50px;
}

.img-one{
    width: 25%;
    margin-left: 120px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.img-one:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

.img-two{
    width: 25%;
    margin-left: 40px;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.img-two:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

.img-three{
    width: 25%;
    margin-left: 40px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.img-three:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

.img-four{
    width: 25%;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.img-four:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

.img-five{
    width: 25%;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.img-five:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

.img-six{
    width: 25%;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.img-six:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}