.header{
    background-color: #86c64D;
}

.nav{ 
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    text-align: right;
}

.nav a{
text-decoration: none;
    font-size: 20px;
    font-weight: 700; 
    margin-right: 50px;
    color: darkslateblue;
    
}

.nav a:hover{
    color: gainsboro;
}
 .meet a{
     border: 1px solid red;
     font-size: 16px;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 3px;
     padding-bottom: 3px;
     background-color: white;
     color: chartreuse;
     border-radius: 3px;
     color: black;
 }

 .meet a:hover{
     color: red;
 }